In [108]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from pandas.api.types import is_numeric_dtype
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, roc_auc_score, roc_curve, auc

In [109]:
# Import the CSV file named 'water_potability.csv' into a pandas DataFrame
df = pd.read_csv("water_potability.csv")

# Display the first five rows of the DataFrame to preview the data
df.head()

         ph    Hardness        Solids  ...  Trihalomethanes  Turbidity  Potability
0       NaN  204.890455  20791.318981  ...        86.990970   2.963135           0
1  3.716080  129.422921  18630.057858  ...        56.329076   4.500656           0
2  8.099124  224.236259  19909.541732  ...        66.420093   3.055934           0
3  8.316766  214.373394  22018.417441  ...       100.341674   4.628771           0
4  9.092223  181.101509  17978.986339  ...        31.997993   4.075075           0

[5 rows x 10 columns]

In [110]:
# Display a concise summary of the DataFrame, including:
# - Number of rows and columns
# - Column names and data types
# - Non-null counts for each column (to check missing values)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [111]:
# Get the dimensions of the DataFrame `df` as (number of rows, number of columns)
df.shape

(3276, 10)

In [112]:
# Summary statistics (count, mean, std, min, max, quartiles) of numeric columns
df.describe()

                ph     Hardness  ...    Turbidity   Potability
count  2785.000000  3276.000000  ...  3276.000000  3276.000000
mean      7.080795   196.369496  ...     3.966786     0.390110
std       1.594320    32.879761  ...     0.780382     0.487849
min       0.000000    47.432000  ...     1.450000     0.000000
25%       6.093092   176.850538  ...     3.439711     0.000000
50%       7.036752   196.967627  ...     3.955028     0.000000
75%       8.062066   216.667456  ...     4.500320     1.000000
max      14.000000   323.124000  ...     6.739000     1.000000

[8 rows x 10 columns]

In [113]:
# Print the count of missing (NaN) values in each column of the DataFrame
print(df.isna().sum())

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [114]:
# Print the total number of duplicate rows in the DataFrame
print(df.duplicated().sum())

0

In [115]:
# Initialize a dictionary to store the outlier count for each column
count_outlier = {}

# Loop through each column in the DataFrame
for col in df.columns:
    # Calculate the 25th percentile (Q1) of the column
    q1 = df[col].quantile(.25)
    # Calculate the 75th percentile (Q3) of the column
    q3 = df[col].quantile(.75)

    # Compute the interquartile range (IQR)
    iqr = q3 - q1

    # Define the upper whisker for outlier detection
    upper_whisker = q3 + 1.5 * iqr
    # Define the lower whisker for outlier detection
    lower_whisker = q1 - 1.5 * iqr

    # Identify outliers as values outside the whiskers
    counts = (df[col] > upper_whisker) | (df[col] < lower_whisker)
    # Store the count of outliers for this column
    count_outlier[col] = counts.sum()

# Convert the outlier counts dictionary into a DataFrame for display
outlier_df = pd.DataFrame(
    {
        'Columns': count_outlier.keys(),       # Column names
        'Outlier Count': count_outlier.values() # Corresponding outlier counts
    }
)

# Display the DataFrame showing outlier counts per column
outlier_df

           Columns  Outlier Count
0               ph             46
1         Hardness             83
2           Solids             47
3      Chloramines             61
4          Sulfate             41
5     Conductivity             11
6   Organic_carbon             25
7  Trihalomethanes             33
8        Turbidity             19
9       Potability              0

In [116]:
def outlier(df, col2):
    # Calculate the 25th percentile (Q1) of the column
    q1 = df[col2].quantile(.25)
    # Calculate the 75th percentile (Q3) of the column
    q3 = df[col2].quantile(.75)

    # Compute the interquartile range (IQR)
    iqr = q3 - q1

    # Define the upper whisker for outlier detection
    upper_whisker = q3 + 1.5 * iqr
    # Define the lower whisker for outlier detection
    lower_whisker = q1 - 1.5 * iqr

    df = df[(df[col2] <= upper_whisker) & (df[col2] >= lower_whisker)]

    return df

In [117]:
df_clean = df.copy()
for col3 in df_clean.columns:
    df_clean = outlier(df_clean, col3)
df = df_clean.copy()

In [118]:
# Initialize a dictionary to store the outlier count for each column
count_outlier = {}

# Loop through each column in the DataFrame
for col in df.columns:
    # Calculate the 25th percentile (Q1) of the column
    q1 = df[col].quantile(.25)
    # Calculate the 75th percentile (Q3) of the column
    q3 = df[col].quantile(.75)

    # Compute the interquartile range (IQR)
    iqr = q3 - q1

    # Define the upper whisker for outlier detection
    upper_whisker = q3 + 1.5 * iqr
    # Define the lower whisker for outlier detection
    lower_whisker = q1 - 1.5 * iqr

    # Identify outliers as values outside the whiskers
    counts = (df[col] > upper_whisker) | (df[col] < lower_whisker)
    # Store the count of outliers for this column
    count_outlier[col] = counts.sum()

# Convert the outlier counts dictionary into a DataFrame for display
outlier_df = pd.DataFrame(
    {
        'Columns': count_outlier.keys(),       # Column names
        'Outlier Count': count_outlier.values() # Corresponding outlier counts
    }
)

# Display the DataFrame showing outlier counts per column
outlier_df

           Columns  Outlier Count
0               ph              7
1         Hardness             22
2           Solids              6
3      Chloramines              9
4          Sulfate              7
5     Conductivity              0
6   Organic_carbon              0
7  Trihalomethanes              0
8        Turbidity              0
9       Potability              0

In [119]:
def outlier_zscore(df, col4):
    mean_val = df[col4].mean()
    std_val = df[col4].std()

    z_score = (df[col4] - mean_val) / std_val

    df = df[(z_score <= 3) & (z_score >= -3)]
    return df

In [120]:
df_clean2 = df.copy()
for col5 in df_clean2.columns:
    df_clean2 = outlier_zscore(df_clean2, col5)
df = df_clean2.copy()

In [121]:
# Count outliers in each column using Z-score method (values with |z| > 3)
count_outlier_zscore = {}

for col6 in df.columns:
    mean_val = df[col6].mean()  # Calculate mean of the column
    std_val = df[col6].std()    # Calculate standard deviation of the column

    z_score = (df[col6] - mean_val) / std_val  # Compute Z-score for each value

    counts2 = ((z_score > 3) | (z_score < -3))  # Identify outliers with |z| > 3
    count_outlier_zscore[col6] = counts2.sum()  # Store outlier count for the column

# Create a DataFrame to display outlier counts per column
outlier_df_z_score = pd.DataFrame(
    {
        'Columns': count_outlier_zscore.keys(),        # Column names
        'Outlier Count': count_outlier_zscore.values() # Corresponding outlier counts
    }
)

# Display the DataFrame with outlier counts
outlier_df_z_score

           Columns  Outlier Count
0               ph              0
1         Hardness              0
2           Solids              0
3      Chloramines              0
4          Sulfate              0
5     Conductivity              0
6   Organic_carbon              0
7  Trihalomethanes              0
8        Turbidity              0
9       Potability              0