In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
df = pd.read_csv("pass_fail.csv")

In [3]:
df.head()

   hours_studied  previous_score  passed
0              1              10       0
1              2              20       0
2              3              15       0
3              4              40       0
4              5              50       1