In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
#load dataset
df = pd.read_csv("salary_prediction_dataset.csv")

In [5]:
df.head()

   experience_years  age  education_level  salary
0                 8   31                3  211551
1                 3   25                1   95628
2                 7   36                3  209751
3                15   39                1  283745
4                16   41                2  328733