In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [4]:
df = pd.read_csv("subscription_upgrade.csv")

In [5]:
df.head()

,id,age,country,device_type,daily_usage_minutes,ads_clicked,watch_time,free_features_used,days_since_signup,last_payment_amount,is_active,support_tickets,upgrade
0,1.0,50.0,BD,Tablet,-10.0,5.0,7.743246,1.0,60.0,NaN,1.0,NaN,1.0
1,2.0,35.0,NaN,NaN,5.0,20.0,1.697019,8.0,300.0,50.0,NaN,10.0,1.0
2,3.0,60.0,US,NaN,60.0,10.0,2.365983,2.0,60.0,100.0,NaN,NaN,1.0
3,NaN,40.0,PK,NaN,20.0,2.0,9.538726,1.0,1.0,0.0,NaN,NaN,0.0
4,5.0,50.0,US,NaN,30.0,10.0,2.167170,8.0,300.0,5.0,NaN,10.0,0.0

In [6]:
df.shape

(1040, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   988 non-null    float64
 1   age                  882 non-null    float64
 2   country              721 non-null    object
 3   device_type          781 non-null    object
 4   daily_usage_minutes  872 non-null    float64
 5   ads_clicked          840 non-null    float64
 6   watch_time           988 non-null    float64
 7   free_features_used   850 non-null    float64
 8   days_since_signup    876 non-null    float64
 9   last_payment_amount  844 non-null    float64
 10  is_active            672 non-null    float64
 11  support_tickets      843 non-null    float64
 12  upgrade              988 non-null    float64
dtypes: float64(11), object(2)
memory usage: 105.8+ KB

In [8]:
df.describe()

,id,age,daily_usage_minutes,ads_clicked,watch_time,free_features_used,days_since_signup,last_payment_amount,is_active,support_tickets,upgrade
count,988.000000,882.000000,872.000000,840.000000,988.000000,850.000000,876.000000,844.000000,672.000000,843.000000,988.000000
mean,500.662955,40.833333,51.267202,6.613095,5.103169,4.741176,68.888128,31.072275,0.513393,3.525504,0.502024
std,287.458353,15.839809,64.116577,7.097420,2.731126,3.273742,98.464398,35.300012,0.500193,3.692806,0.500249
min,1.000000,18.000000,-10.000000,0.000000,0.500292,1.000000,-5.000000,0.000000,0.000000,0.000000,0.000000
25%,253.750000,30.000000,5.000000,1.000000,2.697404,2.000000,5.000000,5.000000,0.000000,1.000000,0.000000
50%,500.500000,40.000000,20.000000,5.000000,5.093710,3.000000,30.000000,10.000000,1.000000,2.000000,1.000000
75%,745.000000,50.000000,60.000000,10.000000,7.423774,8.000000,120.000000,50.000000,1.000000,5.000000,1.000000
max,1000.000000,70.000000,200.000000,20.000000,9.995798,10.000000,300.000000,100.000000,1.000000,10.000000,1.000000

In [10]:
df.duplicated().sum()

np.int64(11)

In [12]:
df = df.drop_duplicates()

In [14]:
df.duplicated().sum()

np.int64(0)