In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
df = pd.read_csv('fraud_detection_300.csv')
df.head()

,transaction_id,amount,transaction_time_sec,customer_age,location_mismatch,device_trust_score,previous_fraud_count,fraud
0,1,1875.83,66412,51,0,0.56,1,0
1,2,4753.82,58335,58,0,0.07,1,1
2,3,3661.31,56179,52,0,0.78,0,0
3,4,2995.30,32093,18,0,0.45,0,1
4,5,784.31,69678,38,0,0.52,0,1