In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
house_price = pd.read_csv("housePrice.csv")

In [4]:
house_price.head()

   size  bedroom   price
0   850        2  127000
1   900        2  139000
2  1000        3  169000
3  1200        3  185000
4  1500        3  210000